section.about-us#about-us
  .container
    h2.h2.about-us__title Ми дбаємо 
      br
      | про наших клієнтів
    .about-us__items.flex.space-between
      .about-us__item
        .about-us__descr
          .about-us__name 
            p Оформлення договору
          .about-us__text 
            p Підходимо професійно та відповідально до кожного клієнта, укладаючи договір, який убезпечить Вас від усіх непорозумінь
        .about-us__image 
          img(src="images/contract.webp", alt="contract.webp")
      .about-us__item
        .about-us__descr
          .about-us__name 
            p Фіксована ціна
          .about-us__text 
            p Індивідуальність – наше все. Вказуємо ціну наданих послуг, безпосередньо, в договорі, яка є сталою та фіксованою та не змінюється незалежно від обставин
        .about-us__image 
          img(src="images/fixed-price.webp", alt="fixed-price.webp")
      .about-us__item
        .about-us__descr
          .about-us__name 
            p Конфіденційність
          .about-us__text 
            p Уся інформація, яка стосується Вас та Вашої справи, залишається виключно приватною та не розголошується адвокатом в жодному випадку
        .about-us__image 
          img(src="images/confidency.webp", alt="confidency.webp")
      .about-us__item
        .about-us__descr
          .about-us__name 
            p Результативність
          .about-us__text 
            p Наша компанія виграє 9/10 справ, незважаючи на її складність, обсяг та сферу
        .about-us__image 
          img(src="images/resultativity.webp", alt="resultativity.webp")



