section.alarm 
  .container
    h2.h2.alarm__title Терміновий виклик юриста
    .alarm__text 
      p Потрапили в халепу у свято, вихідний чи вночі? Необхідна швидка правова допомога на місці?
      p Ми працюємо 24/7, без вихідних, перерв на обід, відпусток чи лікарняних! Наш юрист одразу готовий виїхати до потрібного місця та надати Вам повну, професійну допомогу!
      p Ми допоможемо в будь-якому випадку та в будь-якій точці планети! Зупинка поліцейським, незаконний обшук Вашого житла, адміністративне затримання, привід в правоохоронні органи. Ми будемо постійно поруч!
      p Знайте, у Вас є конституційне гарантоване право на захист та на користування професійною допомогою адвоката.
    .alarm__call-layer.flex.align-center
      //- .alarm__phone-number.phone-number
      a.alarm__phone-number.phone-number(href="tel:+3800509629374") +380 050 962 93 74
      p Вартість дзвінків згідно тарифів вашого оператора
    .alarm__brother-is-here 
      img(src="images/alarm.webp", alt="brother is here!!!")