section.feedback#feedback
  .container 
    h2.h2.feedback__title Безкоштовна консультація
    .feedback__text 
      p Не витрачайте час дарма, давайте обговоримо вашу проблему зараз
    form.feedback__form.flex.space-between
      input(type="text", name="text", placeholder="Як ми можемо до Вас звертатися?")
      input(type="tel", name="number", placeholder="Вкажіть Ваш номер телефону")
      button(type="submit") Зв’яжіться зі мною