section.main 
	.container(style="--background-img:url(../images/main.webp)")
		.main__foundater
				.foundater__title 
						p Команда – успішних, передових, сучасних та надійних
		h1.h1 Наш професійний підхід – запорука перемоги у вашій справі
		.to-reverse 
				.main__advantages.advantages.flex
						.advantages__item 
								.number-desktop
									include ../images/icons/h25.svg
								.number-mobile
									include ../images/icons/h25m.svg
								p Виграних справ
						.advantages__item 
								.number-desktop
									include ../images/icons/h25-1.svg
								.number-mobile
									include ../images/icons/h25-1m.svg
								p Років досвіду
						.advantages__item 
								.number-desktop
									include ../images/icons/h25-2.svg
								.number-mobile
									include ../images/icons/h25-2m.svg
								p Відстояних коштів
				.main__buttons 
						a.btn.btn-primary(href="#feedback") отримати безкоштовну консультацію 
						a.btn.btn-secondary(href="#services") перелік послуг
		.main__last-news.main-news.flex
				.main-news__item(style="--background:url(../images/office.webp)")
						.main-news__title 
								p Суд визнав президента не дієздатним
						.main-news__text 
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et. 
						.main-news__btn.flex
								a(href="#") Читати більше
								include ../images/icons/arrow-right.svg
				.main-news__item(style="--background:url(../images/femida.webp)")
						.main-news__title 
								p Адвокатьске бюро стало найуспішнішим
						.main-news__text 
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et. 
						.main-news__btn.flex
								a(href="#") Читати більше
								include ../images/icons/arrow-right.svg
				.main-news__item(style="--background:url(../images/government.webp)")
						.main-news__title 
								p Уряд ухвалив важливий закон
						.main-news__text 
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et. 
						.main-news__btn.flex
								a(href="#") Читати більше
								include ../images/icons/arrow-right.svg