section.news#news
  .container
    h2.h2.news__title Останні новини
    .slider.flex.align-center
      button.slider-button.prev
        include ../images/icons/arrow-left.svg
      .slider__wrapper 
        //- .slider__item
        .slider__item(style="--background-img:url('../images/femida.webp')")
          //- .slider__image 
          //-   img(src="images/femida.webp", alt="")
          .slider__inner 
            .text-wrapper
              .slider__title Адвокатьске бюро стало найуспішнішим11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/office.webp')")
          //- .slider__image 
          //-   img(src="images/government.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Суд визнав президента не дієздатним11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/government.webp')")
          //- .slider__image 
          //-   img(src="images/femida.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Уряд ухвалив важливий закон11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/femida.webp')")
          //- .slider__image 
          //-   img(src="images/government.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Адвокатьске бюро стало найуспішнішим11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/office.webp')")
          //- .slider__image 
          //-   img(src="images/", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Суд визнав президента не дієздатним11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/government.webp')")
          //- .slider__image 
          //-   img(src="images/femida.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Уряд ухвалив важливий закон11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/femida.webp')")
          //- .slider__image 
          //-   img(src="images/government.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Адвокатьске бюро стало найуспішнішим11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/office.webp')")
          //- .slider__image 
          //-   img(src="images/", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Суд визнав президента не дієздатним11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/government.webp')")
          //- .slider__image 
          //-   img(src="images/femida.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Уряд ухвалив важливий закон11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/femida.webp')")
          //- .slider__image 
          //-   img(src="images/government.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Адвокатьске бюро стало найуспішнішим11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/office.webp')")
          //- .slider__image 
          //-   img(src="images/", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Суд визнав президента не дієздатним11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
        //- .slider__item
        .slider__item(style="--background-img:url('../images/government.webp')")
          //- .slider__image 
          //-   img(src="images/femida.webp", alt="")
          .slider__inner
            .text-wrapper
              .slider__title Уряд ухвалив важливий закон11
              .slider__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est nulla faucibus amet vitae et egestas scelerisque tristique enim. Accumsan pellentesque viverra ante suspendisse habitant faucibus aliquet. Maecenas turpis odio amet vel. Elementum consequat nunc elit quis. Urna, donec mauris ullamcorper lorem. Fusce molestie nam cras porttitor. Malesuada ut nulla egestas amet egestas sed enim, urna. Fermentum iaculis nulla risus urna quam eros luctus at. Dolor egestas potenti orci nisl, quis. Commodo odio consectetur nibh risus. quis eu.
            .slider__button.flex.align-center 
              p Читати більше
              include ../images/icons/arrow-right.svg
      button.slider-button.next
        include ../images/icons/arrow-right-slider.svg
    .news__all-news.flex
      a(href="/all-news.html") Всі новини