section.payments 
  .container 
    h2.h2.payments__title Види оплати
    .payments__items.flex.space-around
      .payments__item
        .text-wrap
          .payments__head
            p Погодинна оплата
          .payments__text
            p Сплачуєте суто за витрачений час
            p Вартість суми зазначається у договорі, відповідно до категорії справи
            p У кінці подаємо звіт за виконану роботу
        .payments__image 
          img(src="images/clock.webp", alt="clock.webp")
          
      .payments__item
        .text-wrap
          .payments__head
            p Фіксована оплата
          .payments__text
            p Узгоджуємо з вами сталий гонорар
            p Сума закріплюється у договорі
            p Ви сплачуєте тільки фіксовану суму, незважаючи на непередбачувані обставини
        .payments__image 
          img(src="images/lock.webp", alt="lock.webp")

      .payments__item
        .text-wrap
          .payments__head
            p Відсоток <br> успіху
          .payments__text
            p Завідомо виграшна справа
            p Вся робота робиться швидко і безкоштовно
            p Відсоток виграшної суми в суді, ви платите за виконану роботу
        .payments__image 
          img(src="images/wallet.webp", alt="wallet.webp")

      .payments__item
        .text-wrap
          .payments__head
            p Абонентське обслуговування
          .payments__text
            p Виникли фінансові проблеми під час розгляду справи?
            p Гонорар адвоката ділиться на оплату частину в залежності від Вашого випадку
            p Ви сплачуєте фіксовану ціну протягом певного періоду часу
        .payments__image 
          img(src="images/boy.webp", alt="boy.webp")