section.services#services
	.container.container-serv 
		h2.h2.services__head Наші послуги
		.services__top.flex.space-between.align-center
			.services__main-text 
				p Працюємо за всіма юридичними напрямками незалежно від складності
			.services__buttons.flex
				.services__change-button.button-individual.active(data-button="toggle")
					p Для фізосіб
				.services__change-button.button-legalentity(data-button="toggle")
					p Для юросіб
		.services__items.individual__items.flex.wrap
			.services__item(style="--background:url(../images/services/0101.webp); background-size: cover; background-position: center;")
				.services__title 
					p Захист у кримінальному процесі
				.services__text
					p Реалії сьогодення вимагають пошуку нових шляхів представництва у кримінальному процесі. Вас безпідставно звинувачують у вчиненні кримінального правопорушенні або ж Ви стали потерпілим чи свідком. Ми забезпечимо повний та якісний супровід у кримінальному процесі  на будь-якій його стадії.
					p Ми гарантуємо повний, всебічний, правовий та компетентний захист Ваших інтересів.  Наша команда має великий досвід роботи у складних, об’ємних, резонансних кримінальних справах.
					p Під час ведення справи ми з’ясовуємо всі обставини, знаємо, де знаходяться докази та як їх відшукати. Ви матимете чітку стратегії та лінію захисту, що забезпечуть  виграш справи.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло
			.services__item(style="--background:url(../images/services/0102.webp); background-size: cover; background-position: center;")
				.services__title 
					p Сімейні, житлові та трудові спори
				.services__text
					p Вас безпідставно позбавили житла? Ви хочете розлучитись та єдиний вихід це йти в суд? Ваш роботодавець невчасно виплачує заробітну плату чи безпідставно звинувачує у невиконанні роботи? Ми допоможемо Вам з усім!
					p У разі виграшу справи, винуватець відшкодовує всі витрати пов’язані з отриманням правничої допомоги, то ж вибір нашого адвоката це вже перший крок до успіху.
					p Ми підходимо до кожної справи індивідуально та з особливою позицію, то ж не хвилюйтесь, Ви не зіштовхнетесь з шаблонним підходом.
					p Наша компанія до кінця відстоює інтереси клієнтів та не робить ні кроку назад! Будь-яке питання можливо вирішити, якщо подивитись на нього під правильним правничим кутом.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0103.webp); background-size: cover; background-position: center;")
				.services__title 
					p Вирішення земельних питань
				.services__text
					p З початком земельної реформи власники земельних ділянок повинні потурубуватись в належному оформленні документації їх право власності. Новизна та унікальність даних справ потребує вирішення їх кваліфікованим фахівцем в галузі права
					p У Вас незаконно забрали земельну ділянку, чи під час забудови суттєво зачепили Вашу власність? 
					p Земельні спори можуть виникати між декількома землевласниками/ землекористувачами або ж між землевласниками / землекористувачами та державою.  
					p Будь-які справи пов’язані зі земельними питаннями – наш адвокат допоможе Вам захистити та відстояти  законну власність, навіть у найважчих випадках.

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0104.webp); background-size: cover; background-position: center;")
				.services__title 
					p Захист у ДТП
				.services__text
					p Стали винуватцем чи потерпілим у дороджньо-транспортній пригоді? Чи не можете зрозуміти хто все-таки винний у аварії? Ми забезпечимо об’єктивний та справедливий розгляд справи та відстоїмо Ваші інтереси. 
					p Внаслідок ДТП є постраждалі, а винуватці ухиляються від сплати на лікування? Повірте, ми змусимо їх сплачувати по закону.
					p ДТП завдала Вам моральну шкоду? Ми відшкодуємо її для Вас у повному обсязі, на який Ви розраховуєте!
					p На момент вчинення ДТП не мали страховки? Це ще не кінець, ми знайдемо вихід з будь-якої ситуації.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0105.webp); background-size: cover; background-position: center;")
				.services__title 
					p Захист у справах про адміністративне правопорушення
				.services__text
					p Вам інкримінують керування транспортним засобом в стані алкогольного сп’яніння? Вас незаконно зупинив поліцейський та вимагає пред’явити документи? З усіх ситуацій ми знайдемо вихід та виграємо справу. 
					p Більше того, під час зупинки розгляду справи поліцейським Ви маєте право скористатись професійною правничою допомогою та викликати адвоката на місце. Саме тому у нас діє послуга «Терміновий виклик адвоката». Дзвоніть в будь-який час доби !

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0106.webp); background-size: cover; background-position: center;")
				.services__title 
					p Стягнення заборгованості
				.services__text
					p Ваш знайомив позичив у Вас гроші та вже довго не віддає або ж ухиляється від зустрічі та спілкування з Вами? Ваші клієнти не розрахувались з Вами за виконану роботу та не хочуть платити? Не хвилюйтесь, закон на Вашому боці тому ми обов’язково повернемо Вам кошти. 
					p Здебільшого люди, що зіштовхуються зі стягненням боргів, діляться на дві категорії: кредитори та боржники, щоправда буває і так, що особа одночасно може бути і кредитором, і боржником в одній особі.
					p Якщо Ви зіткнулися з питанням стягнення боргу, то, швидше за все, йдеться про проблемні борги, коли в добровільному порядку боржник не повертає борг.
					p У такому разі для успішного вирішення питання щодо стягнення заборгованості без послуг професійного юриста не обійтися.
					p Обирайте нас! Обирайте найкращих!
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0107.webp); background-size: cover; background-position: center;")
				.services__title 
					p Поновлення на займаній посаді
				.services__text
					p Карантинні реалії внесли суттєві зміни в наші життя. Багато підприємств закривається, співробітників звільняють через втрачені прибутки на ринку. Проте роботодавці не мають право Вас звільняти, а якщо це вже зроблено то це є повністю незаконним. Ми допоможемо поновитися на займаній посаді та повернути втрачений заробіток за час вимушеного прогулу. 
					p Звільнення відбулось з особистих мотивів керівника до Вас? У правовому суспільству цьому не має бути місця, тому ми швидко та якісно виправимо дану ситуацію.
					p Зауважимо, що Ви маєте повне право на відшкодування заробітку час, коли не працювали через незаконне звільнення. Можете розраховувати на наш професіоналізм, повернемо Вам все до останнього пені!
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0108.webp); background-size: cover; background-position: center;")
				.services__title 
					p Господарські спори 
				.services__text
					p Господарські справи пов’язані, як правило, з підприємницькими питаннями. Іноді господарська справа ґрунтується на відносинах між собою юридичних осіб. Їх діяльність не обов’язково повинна належати до комерції. Якщо ж стороною є проста людина, яка не стосується справи, як підприємець, то така справа буде цивільною.
					p Адвокат по господарських спорах воліє частіше вирішувати суперечку без суду, оскільки це зберігає час. Їх завдання не тільки перемогти в суперечці, але і не зробити перемогу безглуздою, прорахувавши всі можливі наслідки. Йому доводиться ретельно готувати документи до процесу, тому що судді-господарники відрізняються особливою скрупульозністю (вони не так завантажені, як судді у цивільних справах).
					p Від рішення залежить дуже багато і тому представництво в господарських судах можна довірити тільки професіоналові. Цим професіоналом є наша юридична компанія, що надає юридичні послуги в такій сфері, як господарські суперечки. Відмінною рисою надання послуг є те, що наша фірма в певних справах може гарантувати перемогу в суді шляхом правильної і грамотно вибудуваної стратегії ведення господарської суперечки.

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0109.webp); background-size: cover; background-position: center;")
				.services__title 
					p Захист прав споживачів
				.services__text
					p Зіштовхнулись з зіпсованою чи бракованою покупкою, а магазин відмовляється повертати кошти чи обмінювати товар? Стали потерпілим від шахрайства в інтернеті та покупок в онлайн-магазинах?  Ми допоможемо захистити Ваші права, як добросовісного споживача. Повірте, відшкодувати зіпсований товар, прибаний в  Instagram, теж можна!
					p Ми надаємо нашим клієнтам практичну допомогу у складанні скарг, заяв та інших документів, необхідних для реалізації, захисту та відновлення прав споживача. З нашою допомогою клієнти мають можливість скласти заяву про проведення гарантійного ремонту, обмін чи повернення товару, подати до органів державної влади та місцевого самоврядування скаргу на незаконні дії у сфері захисту прав споживачів.
					p Виробник повинен стежити за якістю виготовленої продукції!!!
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0110.webp); background-size: cover; background-position: center;")
				.services__title 
					p Спадкове право
				.services__text
					p Практика показує, що під час вирішення спадку розв’язується ворожнеча між родичами. Ми допоможемо уникнути негативних наслідків та справедливо допоможемо поділити спадок між всіма законними спадкоємцями.	
					p Постраждали від незаконного розподілення спадщини? Вас не включили в список спадкоємців та протиправно позбавили спадку? Наш адвокат забезпечить Вам законну частку та допоможе вибороти її в суді.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0111.webp); background-size: cover; background-position: center;")
				.services__title 
					p Податкове право
				.services__text
					p Будь-який бізнес в Україні зіштовхується з діями податкових органів, які тягнуть за собою виникнення податкових спорів.
					p ССистема податкових правовідносин підпорядкована одній меті – встановленню і стягненню податків, які стають власністю держави або територіальної громади і у зв’язку з цим забезпечується державним примусом. Проте це майно формується шляхом перерахування грошових коштів, що знаходяться у власності платників податків.
					p Спектр послуг адвоката у сфері податкового права включає: юридичний супровід податкових перевірок, аналіз рішень податкових органів на предмет їх відповідності чинному законодавству, оскарження рішень податкових органів за результатами податкової перевірки, оскарження дій (бездіяльності) податкових органів, захист від кримінальної відповідальності платників податків і ін.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0112.webp); background-size: cover; background-position: center;")
				.services__title 
					p Спори щодо нерухомості
				.services__text
					p Професійна діяльність в сфері будівництва та цивільний оборот нерухомого майна пов’язані зі значною кількістю судових ризиків. Ми пропонує клієнтам правильні стратегії вирішення спорів, які базуються на потужній судовій експертизі та професійному досвіді команди. Ми співпрацюємо з професійними суб’єктами оціночної діяльності та найкращими експертами в сфері будівельно-технічної експертизи.
					p Досвід судового представництва нашої компанії дозволяє клієнтам мінімізувати майбутні ризики ще на етапі проектування. Ми обслуговуємо провідних забудовників, національних та іноземних інвесторів.

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
		.services__items.legalentity__items.flex.wrap.hidden
			.services__item(style="--background:url(../images/services/0201.webp); background-size: cover; background-position: center;")
				.services__title 
					p Реєстрація та ліквідація ФОП, юридичних осіб 
				.services__text
					p Бізнес починається з документів, які ми можемо допомогти Вам правильно та належно оформити. 
					p Ми розробляємо власні проекти необхідних документів і здійснюємо представництво та супровід на всіх стадіях їх формування.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
					
			.services__item(style="--background:url(../images/services/0202.webp); background-size: cover; background-position: center;")
				.services__title 
					p Повний бухгалтерський та юридичний супровід
				.services__text
					p Знайте, успішний бізнес – це чітка бухгалтерія Повне бухгалтерське обслуговування включає все, що тільки потрібно для прибуткового ведення Вашої справи. Повірте, будь-який бізнес потребує ведення правильної бухгалтерії, адже саме вона допоможе проаналізувати ситуацію з витратами та скерувати витрати в правильне русло для отримання більшого прибутку. 
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0203.webp); background-size: cover; background-position: center;")
				.services__title 
					p Нараховування зарплати працівникам
				.services__text
					p Виплата зарплати працівникам забирає надто багато часу в керівника, який він може використати з користю для себе та своєї справи. Ми готові своєчасно, точно та якісно виконувати дану функцію, аби вберегти Ваш час.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0204.webp); background-size: cover; background-position: center;")
				.services__title 
					p Ведення управлінського обліку
				.services__text
					p Немає нічого більш небезпечного для бізнесу, як прийняття важливих рішень наосліп. Якщо ви власник або керівник бізнесу, ви безумовно потребуєте адекватної інформації для прийняття як стратегічних, так і тактичних управлінських рішень.
					p Наскільки бізнес ефективний? Чи вкладати гроші в рекламу і скільки? Які напрямки бізнесу варто розвивати інтенсивніше, а які закрити? Які витрати можна/потрібно скоротити? Чи підвищувати зарплатню працівникам? Відповіді на ці та інші важливі питання дає управлінський облік. Користувачами інформації упробліку є менеджери усіх рівнів управління підприємством. 

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0205.webp); background-size: cover; background-position: center;")
				.services__title 
					p Підготовка та здача звітності
				.services__text
					p Підготовка та подача бухгалтерської та податкової звітності для контролюючих органів проводиться за попередній період – рік, квартал або місяць. І це обов’язкова вимога до всіх юридичних осіб та підприємців згідно Податкового Кодексу України.
					p Правильно і своєчасно подана звітність дозволить уникнути штрафних санкцій та адміністративної відповідальності. 

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0206.webp); background-size: cover; background-position: center;")
				.services__title 
					p Відновлення бухгалтерського та податкового обліку
				.services__text
					p Недостовірна або відсутня звітність , неякісне ведення ведення обліку на пiдприємстві може стати серйозною проблемою при спілкуванні з кредиторами , інвесторами , діловими партнерами та іншими зацікавленими особами.
					p Вiдновлення бухгалтерського обліку одне з найбільш непростих завдань , яка може виникнути в абсолютно непередбачуванії ситуації на підприємстві будь - якої форми власності . 

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0207.webp); background-size: cover; background-position: center;")
				.services__title.services__title--large 
					p Ведення клієнт-банку, підготовка платіжних доручень, формування виписок
				.services__text
					p Клієнтська частина системи «клієнт—банк» забезпечує автоматичне ведення поточного стану рахунка клієнта в банку, ураховуючи проведені початкові та зворотні платежі. Розрахункові документи в електронному вигляді, що подаються клієнтом у банк, мають відповідати формату платіжних документів системи електронних платежів Національного банку із зазначенням електронних цифрових підписів відповідальних осіб платника, яким згідно з установчими документами надане право підпису. 
					p Умови успішного бізнесу – це точність, прорахованість та контроль!

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0208.webp); background-size: cover; background-position: center;")
				.services__title.services__title--large
					p.desktop Ведення зовнішньоекономічних операцій з експорту та імпорту
					p.mobile Ведення зовнішньоекономі- чних операцій з експорту та імпорту
				.services__text
					p Сучасні економічні зміни мають на меті поступову інтеграцію українських підприємств до системи міжнародних економічних зв'язків, з одного боку, і залучення іноземних підприємців до діяльності в Україні — з другого.
					p Для правильності, законності та належності ведення міжнародного бізнесі варто обрати нашого професійного бухгалтера, який допоможе та проведе будь-яку потрібну Вам операцію.

				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
			.services__item(style="--background:url(../images/services/0209.webp); background-size: cover; background-position: center;")
				.services__title.services__title--large 
					p Підготовка актів звірки з контрагентами та контролюючими органами
				.services__text
					p Одна з причин, з якої установи проводять звірку розрахунків з контрагентами, — щорічна суцільна інвентаризація, яка саме на часі перед складанням річної фінансової звітності. Звірку ж проводять, щоб підтвердити, що установа правильно провела розрахунки за товари, роботи та послуги. Як документально оформити звірку, в якому документі зафіксувати, що контрагент погодився із сумою зобов’язань – питання, які найчастіше ставлять перед собою власники бізнесів. Ми знаємо відповіді на кожне з цих питань, тому будьте впевненні, що всі документи будуть в порядку.
				.services__button.flex.align-center
					.icon
						include ../images/icons/arrow-cat.svg
					p.btn.btn-more Детальніше
					p.btn.btn-less Стисло 
	.drop-modal
		.drop-modal__wrapper
			.container
				button.close 
					include ../images/icons/close.svg
				.modal__form.form 
					.form__title 
						p Вагаєтесь із вибором послуги?
					.form__text 
						p Не витрачайте час дарма, давайте обговоримо вашу проблему зараз
					.form__items.flex
						input(type="text", name="text", placeholder="Як ми можемо до Вас звертатися?")
						input(type="tel", name="number", placeholder="Вкажіть Ваш номер телефону")
						button(type="submit") Зв’яжіться зі мною