footer.footer 
	.container.flex.align-center.space-between
		.footer__logo.flex.align-center
			include ../images/icons/logo-footer.svg
			//- img(src="images/logo-footer.webp", alt="logo")
			p Наш професійний підхід – запорука перемоги у вашій справі
		.footer__social 
			a(href="https://www.instagram.com/maryan_advocate_company/" target="__blank")
				include ../images/icons/instagram.svg
			a(href="https://www.facebook.com/%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D0%B0-%D1%8E%D1%80%D0%B8%D0%B4%D0%B8%D1%87%D0%BD%D0%B0-%D1%82%D0%B0-%D0%B1%D1%83%D1%85%D0%B3%D0%B0%D0%BB%D1%82%D0%B5%D1%80%D1%81%D1%8C%D0%BA%D0%B0-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D1%96%D1%8F-%D0%91%D1%83%D0%BA%D0%BE%D0%B2%D0%B8%D0%BD%D0%B8-100385765930779/" target="__blank")
				include ../images/icons/facebook.svg
			a(href="t.me/alllure_cv" target="__blank")
				include ../images/icons/telegram.svg
			a(href="https://wa.me/380509629374" target="__blank")
				include ../images/icons/whatsapp.svg
	.container
		.footer__created-by 
			p Разроблено: LehitAgency