-var title = 'Maryan Ivan'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="css/style.css")
    body 
        include modules/header
        section.new 
            .new__top-bg 
                .container 
                    .new__social 
                        a(href="https://www.instagram.com/maryan_advocate_company/" target="__blank")
                            include images/icons/instagram.svg
                        a(href="https://www.facebook.com/%D0%93%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D0%B0-%D1%8E%D1%80%D0%B8%D0%B4%D0%B8%D1%87%D0%BD%D0%B0-%D1%82%D0%B0-%D0%B1%D1%83%D1%85%D0%B3%D0%B0%D0%BB%D1%82%D0%B5%D1%80%D1%81%D1%8C%D0%BA%D0%B0-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D1%96%D1%8F-%D0%91%D1%83%D0%BA%D0%BE%D0%B2%D0%B8%D0%BD%D0%B8-100385765930779/" target="__blank")
                            include images/icons/facebook.svg
                        a(href="t.me/alllure_cv" target="__blank")
                            include images/icons/telegram.svg
            .new__item.item
                .container
                    h1.item__title Суд визнав президента не дієздатним
                    .item__date 17.11.2021 11:32
                    .item__image    
                        img(src="images/office.webp", alt="office_president.webp")
                    h2.item__subtitle Як відомо, 17.06.2018 набув чинності закон «Про товариства з обмеженою та додатковою відповідальністю»
                    .item__text 
                        p У зв’язку з чим втратили свою силу ті положення закону «Про господарські товариства», які стосувалися ТОВ та ТДВ. Є багато положень, які зберігають свою чинність і після початку дії нового закону, але є і такі, які можуть протирічити йому, тому до 17.06.2019 за новим Законом товариства повинні привести свої статути у відповідність до нового законодавства. Часу для цього виділено достатньо – цілий рік, крім того, є приємний бонус – ТОВ звільнені від адміністративного збору за реєстраційні дії з внесення змін до статутних документів у зв’язку з появою нового Закону.

                            br 
                            | В даній статті пропонуємо розібратися в основних змінах та дізнатися, що саме треба передбачити при внесенні змін або підготовці нового статуту.
                            br
                            br 
                            | Перш за все, новий закон скасував обмеження по кількості учасників, відтепер їх може бути необмежена кількість.
                            br
                            br 
                            | По-друге, зменшено перелік обов’язкових пунктів зазначених у Статуті, з 17.06.2018 р. – це повне та скорочене (за наявності) найменування товариства; органи управління товариством, їх компетенція та порядок прийняття ними рішень; порядок вступу до товариства та виходу з нього. Решта питань фактично передається на вирішення учасників-засновників.
                            br
                            br 
                            | По-третє, змінено:

                            br 
                            | порядок вступу / виходу / виключення / правонаступництва;
                            br 
                            | порядок формування / збільшення / зменшення статутного капіталу
                            br 
                            | порядок виплати дивідендів
                            br 
                            | порядок обігу часток учасників.
                            br 
                            | Також з’явилася можливість для віддаленого проведення Загальних зборів, введено нові поняття – Корпоративний договір, Безвідклична довіреність, Наглядова рада (останню  можна створити при бажанні). Зменшено строк внесення учасниками вкладів при формуванні статутного капіталу до 6 місяців, посилено відповідальність за несвоєчасне внесення вкладу при первинному формуванні статутного капіталу – аж до виключення учасника товариства та багато іншого.
                            br
                            br 
                            | Звісно, все в одній статті не опишеш, тож детальніше сьогодні поговоримо про наступне.
                            br
                            br 
                            | Одним із найбільш очікуваних та революційних нововведень закону про ТОВ є запровадження інституту корпоративного договору, який широко використовується у іноземних юрисдикціях, однак до останнього часу був недоступний у вітчизняних правових реаліях. Корпоративний договір – це договір, за яким учасники товариства зобов’язуються реалізовувати свої права та повноваження певним чином або утримуватися від їх реалізації. Сторонами  корпоративного договору є учасники, кредитори, інвестори, члени органів управління товариством. Даним документом може бути передбачено обов’язок сторін:
                            br
                            br 
                            | голосувати у спосіб, передбачений договором, на загальних зборах учасників (засновників);
                            br 
                            | погоджувати придбання або відчуження частки за заздалегідь визначеною ціною;
                            br 
                            | утримуватися від відчуження часток до настання визначених у договорі обставин;
                            br 
                            | дотримуватися умов або порядку визначення умов, на яких учасник вправі або зобов’язаний придбати або продати частки у статутному капіталі товариства у певних випадки (які можуть залежати чи не залежати від дій сторін), тощо.
                            br 
                            | В чому ж перевага появи такого документу? Корпоративний договір у першу чергу є договором в розумінні цивільного права. Це дає можливість учасникам передбачити у ньому відповідальність (у тому числі і в формі штрафу) за його невиконання, у статуті цього зробити не можна.
                            br
                            br 
                            | Зміст договору не підлягає оприлюдненню і є конфіденційним, якщо інше не передбачено статутом чи законом. Зазначене не стосується випадків, коли стороною договору є держава, територіальна громада, державне або комунальне підприємство або юридична особа, у статутному капіталі якої 25 і більше відсотків якої прямо або опосередковано належить державі або територіальній громаді. В цих випадках договір оприлюднює відповідна юридична особа.
                            br
                            br 
                            | Корпоративний договір можна підпорядкувати іноземному праву. Однак слід мати на увазі, що це можна зробити тільки у випадку, якщо один з його учасників – іноземна юридична особа або громадянин.
                            br
                            br 
                            | При складанні корпоративного договору важливо врахувати умови, порушення яких може призвести до визнання його нікчемним. Скористайтеся послугами фахівців.
                            br
                            br 
                            | Закон лібералізував корпоративне управління та передав більше питань, пов’язаних з управлінням товариством на розсуд учасників, скасувавши ряд норм, які обмежували можливості учасників вирішувати певні питання на власний розсуд. Однак, з розширенням меж вільного розсуду учасників виникають ризики конфліктів, якщо учасники не зможуть дійти згоди щодо певних питань діяльності товариства.
                            br
                            br 
                            | На виконання або забезпечення виконання зобов’язань учасника, який є стороною корпоративного договору, може видаватись безвідклична довіреність, яка підлягає нотаріальному посвідченню. Особа, якій видана безвідклична довіреність, не може передоручити вчинення дій, на які вона була уповноважена, іншій особі, якщо інше не передбачено у довіреності. Така довіреність є дійсною до виконання мети, для якої її було видано, і може бути скасована лише за згодою її представника або у випадках, які прямо передбачені цією довіреністю. За умови, що конструкція корпоративного договору та безвідкличної довіреності сформульована обдумано та далекоглядно, товариству не будуть страшні ніякі сварки між учасниками.
                            br
                            br 
                            | Важливим моментом, передбаченим у новому законі про ТОВ, є чітке визначення факту виходу учасника із товариства. Так, учасник вважається таким, що вийшов з товариства, з дня державної реєстрації його виходу, тобто державної реєстрації відповідних змін до відомостей про товариство у частині складу учасників. Цей момент як спрощує вихід учасника з товариства, так і містить певні ризики для ТОВ та інших його учасників. Такими змінами законодавець полегшує «захід» у коло учасників ТОВ «непроханих гостей». Рейдеру достатньо отримати «у подарунок» частку у статутному капіталі, наприклад, номінальною вартістю 1 гривня після чого він на підставі відповідних норм Закону про ТОВ зможе:
                            br
                            br 
                            | «наповнити» склад учасників ТОВ «своїми» людьми (наприклад, розподіливши свою частку по 1 копійці між 100 особами шляхом укладення договорів дарування (ч. 1 ст. 21));
                            br 
                            | отримувати інформацію про господарську діяльність товариства (п. 2 ч. 1 ст. 5);
                            br 
                            | отримати доступ до документів товариства (ч. 4 ст. 43);
                            br 
                            | блокувати внесення змін до статуту або прийняття рішень, для яких вимагається одностайність (ч. 3 ст. 12, ч. 3 ст. 13,  ч. 1 ст. 14, ч. 7 ст. 18, ч. 6 ст. 20, ч. 2 ст. 21 та ін.);
                            br 
                            | впливати на продаж часток іншими учасниками (ст. 20);
                            br 
                            | оскаржувати правочини ТОВ;
                            br 
                            | та ін.
                            br 
                            | Суттєво підвищується відповідальність посадових осіб товариства. Члени наглядової ради та виконавчого органу несуть солідарну відповідальність перед товариством за збитки, заподіяні товариству їхніми винними діями або бездіяльністю.
                            br
                            br 
                            | Член виконавчого органу товариства не може без згоди загальних зборів учасників або наглядової ради товариства, а член наглядової ради товариства – без згоди загальних зборів учасників:
                            br
                            br 
                            | – здійснювати господарську діяльність як фізична особа – підприємець у сфері діяльності товариства;
                            br
                            br 
                            | – бути учасником повного товариства або повним учасником командитного товариства, що здійснює діяльність у сфері діяльності товариства;
                            br
                            br 
                            | – бути членом виконавчого органу або наглядової ради іншого суб’єкта господарювання, що здійснює діяльність у сфері діяльності товариства.
                            br
                            br 
                            | Визначено поняття конфлікт інтересів. Конфліктом інтересів є конфлікт між обов’язком посадової особи діяти добросовісно і розумно в інтересах товариства в цілому та приватними інтересами посадової особи або її афілійованих осіб. При обранні посадова особа зобов‘язана подати товариству перелік своїх афілійованих осіб, які визначаються такими відповідно до Закону України “Про акціонерні товариства”, а у разі зміни складу таких осіб – у п‘ятиденний строк повідомити про це товариство. Отримання посадовою особою або її афілійованими особами від третіх осіб виплат, винагород чи інших благ за дії (бездіяльність), пов‘язані з виконанням посадовою особою її повноважень, є конфліктом інтересів. Посадова особа, якій стало відомо про виникнення конфлікту інтересів, зобов’язана протягом 2 днів письмово повідомити про це виконавчий орган товариства та наглядову раду товариства (у разі утворення). Наслідком порушення умови про неконкуренцію, так само як і умови про нерозголошення корпоративної інформації, є розірвання договору (контракту) з посадовою особою без виплати компенсації.
                            br
                            br 
                            | Крім цього, на виконавчий орган покладено обов’язок скликати загальні збори товариства у разі, якщо вартість чистих активів товариства знизилася більш як на 50 відсотків порівняно з попереднім роком. Такі зміни змусять керівників відповідальніше ставитися до своїх обов’язків та завчасно повідомляти учасників про фінансові проблеми. У разі невиконання зазначеного обов’язку або у разі банкрутства товариства впродовж 3 років директор або члени дирекції несуть солідарну відповідальність за зобов’язаннями товариства перед кредиторами.
                            br
                            br 
                            | Не можемо ми оминути увагою такий пункт як значні правочини.
                            br
                            br 
                            | Відтепер, директор може підписувати договори, якщо сума угоди менше ніж 50% чистих активів за попередній квартал. Якщо вартість угоди більша, то необхідна згода загальних зборів. Дробити угоду не вийде, оскільки є в Законі застереження: якщо компанія могла здійснити одну велику угоду замість декількох менших, то кожна з таких «дрібних» угод вважається великою. Якщо у компанії чисті активи негативні (це актуально для компаній зі збитками), директор не зможе укладати та підписувати будь-які договори. Доведеться за кожним договором, навіть на 1 грн, оформляти рішення засновників, що в більшості випадків неможливо, тому діяльність компанії може бути «заблокована».
                            br
                            br 
                            | Чим підтвердити контрагенту, що сума договору менше ніж 50% чистих активів і директор має право підписати договір? У договорах можна передбачити застереження про те, що сторони зобов’язані надати баланс на кінець попереднього кварталу або бухгалтерську довідку про розмір чистих активів на кінець попереднього кварталу. У разі, якщо сума договору більше ніж 50% чистих активів, то передбачити подання протоколу власників про погодження укладення даного договору.
                            br
                            br 
                            | Якщо договір укладено на тривалий період на декілька платежів, можна вказати в договорі загальну суму договору без прив’язки до конкретних операцій, при цьому зазначивши, що в міру виконання договору, якщо по факту сума операцій досягне загальної суми договору, то сторони можуть уточнити загальну суму договору, збільшивши її до необхідного розміру і звіривши з величиною чистих активів на той момент.
                            br
                            br 
                            | Слід звернути увагу, що на величину чистих активів впливає величезна кількість показників, практично будь-яка операція, в разі її неправильного відображення в бухобліку, може спотворити величину чистих активів, тому велике значення набуває правильне ведення бухгалтерського, податкового обліків і складання фінансової звітності. Підтвердити правильність ведення обліку і складання звітності, а також виявити помилки, при їх наявності, може незалежна аудиторська перевірка, яка проводиться щоквартально або хоча б за підсумками року.




        include modules/footer
block scripts
    
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/main.js") 